.btn {
  color: c(dark-blue);
  background-color: c(blue);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  @include transition;
  &:hover {
    background: c(dark-blue);
    color: white;
  }
  &.dark {
    background-color: c(dark-blue);
    color: white;
    &:hover {
      background-color: lighten(c(dark-blue), 0.5);
    }
  }
}

.link-button {
  color: inherit;
}

.title {
  font-weight: w(black);
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 0.75em;
  @include media-breakpoint-down(md) {
    font-size: 28px;
  }
}

.text {
  font-size: clamp(16px, 1.45vw, 24px);
}
