footer.site-footer {
  padding: 80px 24px;
  .custom-logo {
    max-width: 100%;
    object-fit: contain;
  }
  .menu {
    @include media-breakpoint-up(lg) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 185px;
    }
    .menu-item {
      a {
        color: white;
        font-weight: w(bold);
        font-size: 20px;
        margin: 10px 0;
        display: block;
      }
      .sub-menu {
        a {
          font-weight: w(regular);
          font-size: 16px;
        }
      }
    }
  }
}
