#front-page {
  .banner {
    .content-wrapper {
      max-width: 50%;
      h1 {
        font-size: 48px;
        font-weight: bold;
      }
    }
  }
  .dcnt {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    h1 {
      font-size: 48px;
      font-weight: bold;
    }

    p {
      text-align: center;
      font-weight: bold;
    }
  }
}
