#nosso-impacto {
  .section-img-left,
  .section-img-right {
    padding: 62px 24px;
    h1 {
      font-size: 48px;
      font-weight: bold;
    }
    h2 {
      font-size: 32px;
      font-weight: bold;
    }
    p {
      font-size: 18px;
      max-width: 430px;
    }
  }

  .transparency-and-eficience {
    padding-top: 50px;
    padding-bottom: 80px;
    h2 {
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      line-height: 1.4;
    }
    p {
      font-size: 24px;
      font-weight: bold;
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
      text-align: center;
      @media (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
        gap: 38px;
      }
      .cards-wrapper {
        border-radius: 20px;
      }
    }
  }

  .image-wrapper {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
}
