#nossa-atuacao {
  .sec-01 {
    @include media-breakpoint-up(lg) {
      padding-left: 25px;
    }
    @include media-breakpoint-down(lg) {
      padding: 50px 15px;
    }
    .img-wrapper {
      border-radius: 30px;
      img {
        border-radius: 30px;
      }
    }
    h2 {
      @include media-breakpoint-down(lg) {
        font-size: 30px;
      }
      font-weight: bold;
      font-size: 48px;
      margin-bottom: 1em;
    }
    P {
      font-size: 18px;
      margin-bottom: 5em;
    }
  }

  .sec-02 {
    padding: 120px 25px;
    .card {
      width: 300px;
      height: 300px;
      padding: 10px;
    }
    h2 {
      font-weight: bold;
      font-size: 48px;
      margin-bottom: 1em;
      text-align: center;
    }
    img {
      margin-top: 2em;
      margin-bottom: 2em;
    }
    P {
      font-size: 18px;
      text-align: center;
    }
    h3 {
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      font-family: $font;
    }
  }
  .sec-04 {
    padding: 150px 25px;
    h2 {
      font-weight: bold;
      font-size: 40px;
      margin-bottom: 1em;
    }
    .grid-container {
      @include media-breakpoint-up(lg) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 100px;
      }
      gap: 30px;
      width: 100%;
    }
    .grid-item {
      & img,
      & p {
        @include transition;
      }
      @include flexcenter;
      flex-direction: column;
      font-size: 2em;
      border-radius: 15px;
      width: 370px;
      height: 324px;
      text-align: center;
      padding: 15px;
      p {
        font-size: 14px;
        color: c(dark-blue);
        opacity: 0;
        height: 0;
      }
      &:hover {
        background-color: c(blue);
        img {
          max-width: 25%;
        }
        p {
          opacity: 1;
          height: auto;
          padding-top: 20px;
        }
      }
    }
  }
}
